/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Shared Styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Navbar SecTion Start */
.nav-container {
    width: 100%;
    height: 130px;
    background: #FFF;

    display: flex;
    justify-content: space-between;
}

.nav-logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 10%;
}

.nav-logo {
    width: 86.041px;


}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.nav-item-container {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 10%;
}

.nav-item-container a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}


.sing-up-btn {
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF6F91, #FF9671); 
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.sing-up-btn:hover {
    background: linear-gradient(90deg, #FF9671, #FFC75F);
    transform: scale(1.05);
    color: #FFFFFF; 
    cursor: pointer;
}

.sing-in-btn {
    padding: 21px 40px;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF6F91, #FF9671); 
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.sing-in-btn:hover {

    background: linear-gradient(90deg, #FF9671, #FFC75F);
    transform: scale(1.05);
    color: #FFFFFF; 
    cursor: pointer;
}

/* Navbar SecTion End */

/* Banner section start */

.banner {
    display: flex;
    justify-content: space-around;
    background-color: #FDFDFD;

}

.banner-container {
    background-image: url(../images/Group\ 14.png) 901px 700px;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.banner-title-goat {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}

.banner-btn {
    gap: 24px;
    margin-top: 60px;

}


.explore-btn {
    
    padding: 21px 40px;
    align-items: center;
    border-radius: 36px;
    background: linear-gradient(90deg, #4EC5F7, #3A9EC2); 
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.explore-btn:hover {
    background: linear-gradient(90deg, #3A9EC2, #FF6F91); 
    transform: scale(1.05);
    color: #FFFFFF; 
    cursor: pointer;
}


/* Banner section End */


/* Funny videos SeCtion start */
.funny {
    margin-top: 200px;
}

.funny-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.funny-video-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.funny-content {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.funny-video-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}


/* Funny videos SeCtion End */


/* play SecTon */
.play {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 150px;

}

.play-content-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;

    font-weight: 700;

}

.play-title-edit {

    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-img {
    width: 318.5px;
    position: relative;
    bottom: 280px;
    right: 200px;
    border-radius: 8px solid #FFF;


}


/* Popular Games Section */
.game {
    padding: 20px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.game .title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #f4f4f4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.card-description {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
}


.card-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #c748d3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-button:hover {
   
    transform: translateY(-3px);
}
.card {
    text-align: center;
}



/* catagory */
.catagory {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 70px;
}

.pc {
    width: 248px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    gap: 16px;
}

.pc:hover {
    background-color: #FF42A5;
}


.catagory-title {
    text-align: center;
    align-items: center;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;



}

.cata-img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 10px 10px 78px 10px;

}

/* Footer */
.footer {
    width: 100%;
    height: 636px;
    background: #0B0223;
}

.footer-title {
    display: flex;
    align-items: center;
    padding-left: 42%;
    padding-top: 4%;
    gap: 20px;
}

.footer-main-title {
    color: #FFF;


    font-size: 45px;

    font-weight: 700;

}

.LInks {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.link-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;

}

.terms {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.tearms-title {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;

}

.copyright {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}